<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855541017126-1c5gn8lmm8ok22irnl4217cf44h0ugp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855541017126-1c5gn8lmm8ok22irnl4217cf44h0ugp3</string>
	<key>API_KEY</key>
	<string>AIzaSyADic6ukSmBd6QbFksqePRvKlyR486JZuo</string>
	<key>GCM_SENDER_ID</key>
	<string>855541017126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoFirebaseFlutter</string>
	<key>PROJECT_ID</key>
	<string>fluttershow-1e857</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershow-1e857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855541017126:ios:d4ee1fa44a167babefd4e7</string>
</dict>
</plist>